# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\COLLEGE WORK\SEM 6\Simulated Internship I & II\Week 4\180003_Simulated_Internship_W4_Della_Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
